--extra-index-url https://download.pytorch.org/whl/cu128
numpy>1.2
hydra-core>=1.1.1
hydra-colorlog
matplotlib
opencv-python
omegaconf
plotly
ftfy
torch>=2.10.0
torchsde
torchdiffeq
pytorch-lightning==2.0.8
gitpython
scipy
sentence-transformers
torchsde
einops
moviepy
tqdm
termcolor
wandb
einops_exts
timm
jvp_flash_attention